.location {
    background-color: #072226;
    border: 1px solid;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    width: 90%;
    max-width: max-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    transition: transform .5s, 
                box-shadow .5s;
}

.location:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #79B724;
    transition: transform .5s, 
                box-shadow .5s;
}

.location_name {
    color: #79B724;
}

.location_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.location_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}